
@model core_web_app1.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetail</title>
</head>
<body>

    <h2>User Details</h2>
    <h3>Username: @Model.Username</h3>
    <h3>Password: @Model.Password</h3>
</body>
</html>
